<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
  <test name="Test suite 1" >
    <classes>
     <!-- <class name="clinchPageTest.clinchLoginTest"/>  -->
      <class name="clinchPageTest.clinchLoginTest"/>
      <class name="clinchPageTest.clinchMyTodoTest"/>
      <class name="clinchPageTest.clinchContactsTest"/>
    </classes>
 </test>
</suite>